<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="task_appender" type="log4net.Appender.RollingFileAppender" >
			<file value="C:\Users\ss186094\OneDrive - NCR Corporation\Documents\R10 Exercise\R10_Training\Exercise1\Exercise1\log.txt" ></file>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollbackups value="10" />
			<maximumFileSize value="2000KB"/>
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
		</root>
		<logger name="Task">
			<level value="ALL" />
			<appender-ref ref="task_appender" />
		</logger>
	</log4net>
</configuration>